// Specific CSS for your home-page
.body{
  height: 100%;
  width: 100%;
}
.banner {
  position: relative;
}

.button-container {
  display: flex;
  position: absolute;
  top: 300px;
  right: 550px;
}

.button-container > #btn-new {
  margin-top: 0;
  padding-left: 0;
}
