
<%= image_tag "musicbox.png", alt: 'logo', class: "rounded-circle"%>

<div> 
<%= image_tag "speaker4.png", class: "banner" , style: "width: 1450px" %>
</div>

<br>

<span id="btn-new"><%= link_to "List Instrument", new_instrument_path, class: "btn btn-success" %></span>
<span id="btn-new"><%= link_to "Rent Instrument", instruments_path, class: "btn btn-success" %></span>



