.instrument-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

#btn-new {
  margin-top: 20px;
  padding-left: 40px;
}

.button-blue {
  background-color: rgb(17, 0, 128);
  text-decoration: none;
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: 18px; /* Increase font size for bigger button */
  padding: 10px 20px; /* Increase padding for bigger button */
  margin-left: 100px;
  margin-top: 200px;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.speaker {
  background-image: url(app/assets/images/speaker4.png);
}
