<div class="container">
        <h1>Review Details</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Instrument: <%= @review.instrument.name %></p>
                <p class="card-text">User: <%= current_user.email %></p>
                <p class="card-text"> Reviews <%= @review.content %></p>
                <%= link_to "Homepage", root_path, class: "btn btn-success" %>
            </div>
        </div>
    </div>
